---
import config from "@/config/config.json";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import { FaRegFolder } from "react-icons/fa";
import ImageMod from "./ImageMod.astro";

const {
  summary_length,
  blog_folder,
}: { summary_length: number; blog_folder: string } = config.settings;
const { data } = Astro.props;
const { title, image, date, categories } = data.data;
---

<div
  class="bg-body dark:bg-darkmode-body rounded-xl border border-border/50 dark:border-darkmode-border/50 p-5 shadow-sm transition-all duration-300 hover:shadow-lg hover:-translate-y-1"
>
  {
    image && (
      <a
        href={`/${blog_folder}/${data.id}/`}
        class="mb-6 block overflow-hidden rounded-lg"
      >
        <ImageMod
          class="mx-auto block rounded object-contain max-w-[250px] w-full transition-transform duration-500 hover:scale-105"
          src={image}
          alt={title}
          width={1400}
          height={540}
          format="webp"
          loading="lazy"
        />
      </a>
    )
  }
  <h4 class="card-title mb-3 text-text-dark dark:text-darkmode-text-dark">
    <a href={`/${blog_folder}/${data.id}/`}>
      {title}
    </a>
  </h4>
  <ul class="mb-4">
    <li class="mr-4 inline-block">
      <FaRegFolder className={"mr-2 -mt-1 inline-block"} />
      {
        categories.map((category: string, index: number) => (
          <a href={`/categories/${slugify(category)}/`}>
            {humanize(category)}
            {index !== categories.length - 1 && ","}
          </a>
        ))
      }
    </li>
    <li class="inline-block">{dateFormat(date)}</li>
  </ul>
  <p class="mb-6 text-sm leading-relaxed text-justify">
    {plainify(data.body?.slice(0, Number(summary_length)))}
  </p>
  <a class="btn btn-outline-primary btn-sm" href={`/${blog_folder}/${data.id}/`}>
    Подробнее
  </a>
</div>
