---
import Base from "@/layouts/Base.astro";
import CallToAction from "@/components/CallToAction.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import PageHeader from "@/partials/PageHeader.astro";

const pages = await getSinglePage("pages");
const serviceArticles = pages.sort((a, b) =>
  a.data.title.localeCompare(b.data.title),
);
---

<Base
  title="Услуги"
  meta_title="Услуги"
  description="Каталог услуг компании Телеофис: установка и настройка систем дистанционного сбора показаний, ремонт модулей Zeta, замена счетчиков воды и техническая поддержка в Беларуси."
>
  <PageHeader title="Услуги" compact={true} />

  <section class="py-8 xl:py-10">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10">
          {
            serviceArticles.length ? (
              <div class="row">
                {serviceArticles.map((article) => (
                  <div class="mb-6 md:col-6 lg:col-4">
                    <article class="h-full rounded border border-border bg-light p-6 dark:bg-darkmode-light">
                      <h3 class="h5 mb-3">
                        <a href={`/${article.id}`} class="hover:text-primary">
                          {article.data.title}
                        </a>
                      </h3>
                      {article.data.description && (
                        <p class="mb-5 text-text-dark">
                          {article.data.description}
                        </p>
                      )}
                      <a class="btn btn-sm btn-primary" href={`/${article.id}`}>
                        Подробнее
                      </a>
                    </article>
                  </div>
                ))}
              </div>
            ) : (
              <p>Материалы пока не добавлены.</p>
            )
          }
        </div>
      </div>
      <CallToAction />
    </div>
  </section>
</Base>
